<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveTransaction(transactionForm)" #transactionForm="ngForm" *ngIf="!isLoading">
    <mat-form-field >
      <mat-select
        name="enteredType"
        [ngModel]="transaction?.type"
        placeholder="Type"
        required
        #type="ngModel">

        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="type.invalid">Please choose Type</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input

        [ngModel]="transaction?.amount"
        name="enteredAmount"
        placeholder="Amount"
        matInput type="number"
        required
        #amount="ngModel">

      <mat-error *ngIf="amount.invalid">Please enter amount</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Add Expense
    </button>
  </form>
</mat-card>
